<div *ngIf="!isChildRouterActive()">
 
  <button class="btn btn-info" (click)="showUploadDialog()" pTooltip="Import Company" tooltipPosition="top"><i class="fa fa-download"></i></button>

  <p-dialog header="Import Company" [(visible)]="displayUploadDialog" [modal]="true" [responsive]="true" [style]="{width: '50vw'}">
    <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()" class="import">
      <p-fileUpload name="file" class="test-upload" mode="basic" accept=".csv" (onSelect)="onFileChange($event)" chooseLabel="Choose"></p-fileUpload>
      <div *ngIf="uploadForm.controls['file'].invalid && uploadForm.controls['file'].touched">
        <small class="text-danger">File is required and must be a CSV</small>
      </div>
      <p-button type="submit" class="ms-2"  label="Upload" icon="pi pi-check" [disabled]="uploadForm.invalid"></p-button>
    </form>
  </p-dialog>
  
  <a [routerLink]="['add']" class="btn btn-primary" pTooltip="Add Company" tooltipPosition="top" title="Add Company">
    <i class="fas fa-plus"></i>
  </a>
  

  
  <button class="btn btn-danger" (click)="deleteSelectedCompanies()" pTooltip="Bulk Delete Company" tooltipPosition="top" >
   <i class="fas fa-trash"></i>
  </button>
  <button class="btn btn-success" pTooltip="Refresh Company" tooltipPosition="top" (click)="refresh()">
    <i class="fa fa-refresh"  aria-hidden="true"></i>
  </button>
  <button class="btn btn-warning" pTooltip="Export Company" tooltipPosition="top" (click)="exportCsv()"><i class='fas fa-file-export'></i></button>
  

  <p-table [value]="companies" dataKey="id" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true" [filterDelay]="0" [globalFilterFields]="['name', 'status']"
           [(selection)]="selectedCompanies"  selectionMode="checkbox">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>Index</th>
        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="email">Description <p-sortIcon field="email"></p-sortIcon></th>
        <th>Image</th>
        <th>Status</th>
        <th>Approved</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-company let-i="rowIndex">
      <tr>
        <td>
          <p-tableCheckbox [value]="company"></p-tableCheckbox>
        </td>
        <td>{{ i + 1 }}</td>
        <td>{{ company.name }}</td>
        <td>{{ company.description }}</td>
        <td><img [src]="company.logo" alt="Company Image"></td>
        <td>
          <p-inputSwitch class="switch" [ngModel]="company.status" (onChange)="changeCountryStatus(company.user_id, $event.checked)"></p-inputSwitch>
           <!-- {{company.status}}  -->
           
        </td>
     <td>
          <button class="btn btn-success" (click)="activeCompany(company.user_id)" [disabled]="disableStates[company.user_id]">Approved</button>
        </td>
        <td> 
          <button class="btn btn-danger" (click)="deleteCompany(company.user_id)"><i class="fas fa-trash"></i></button>
          <a class="btn btn-success" [routerLink]="['view', company.user_id]"><i class="fas fa-eye"></i></a>
          <a class="btn btn-primary" [routerLink]="['edit', company.user_id]"><i class="fas fa-edit"></i></a>
          
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

  <router-outlet></router-outlet>
  