<p-button (click)="showDialog()" label="Add Banner +"></p-button>
<p-dialog header="{{isEditMode ? 'Edit Banner' : 'Add Banner'}}" [modal]="true" [(visible)]="visible" [style]="{ width: '50em' }">
    <!-- <span class="p-text-secondary block mb-5">Add Products.</span> -->
    <form [formGroup]="bannerForm" (ngSubmit)="onSubmit()">
        <div class="flex align-items-center gap-3 mb-3">
          <label for="title" class="font-semibold w-6rem">Name</label>
          <input type="text" id="title" formControlName="title" class="flex-auto"
                 [ngClass]="{
                   'ng-invalidk': bannerForm.get('title')?.invalid && bannerForm.get('title')?.touched,
                   'ng-dirtyk': bannerForm.get('title')?.dirty
                 }"
                 autocomplete="off" />
          <div *ngIf="bannerForm.get('title')?.invalid && bannerForm.get('title')?.touched" class="text-danger">
            Name is required
          </div>
        </div>
        
        <div class="flex align-items-center gap-3 mb-3">
          <label for="priority" class="font-semibold w-6rem">Priority</label>
          <input type="text" id="priority" formControlName="priority" class="flex-auto"
                 [ngClass]="{
                   'ng-invalidk': bannerForm.get('priority')?.invalid && bannerForm.get('priority')?.touched,
                   'ng-dirtyk': bannerForm.get('priority')?.dirty
                 }"
                 autocomplete="off" />
          <div *ngIf="bannerForm.get('priority')?.invalid && bannerForm.get('priority')?.touched" class="text-danger">
            Priority is required.
          </div>
        </div>
      
        <div class="flex align-items-center gap-3 mb-3">
          <label for="button_text" class="font-semibold w-6rem">Button Text</label>
          <input type="text" id="button_text" formControlName="button_text" class="flex-auto"
                 [ngClass]="{
                   'ng-invalidk': bannerForm.get('button_text')?.invalid && bannerForm.get('button_text')?.touched,
                   'ng-dirtyk': bannerForm.get('button_text')?.dirty
                 }"
                 autocomplete="off" />
          <div *ngIf="bannerForm.get('button_text')?.invalid && bannerForm.get('button_text')?.touched" class="text-danger">
            Button text is required.
          </div>
        </div>
      
        <div class="flex align-items-center gap-3 mb-3">
            <label for="image" class="font-semibold w-6rem">Image</label>
            <input type="file" id="image" formControlName="image" (change)="onFileChange($event)" accept="image/*" />
            <div *ngIf="bannerForm.get('image')?.invalid && bannerForm.get('image')?.touched && !isEditMode" class="text-danger">
              Image is required.
            </div>
            <img *ngIf="imagePreviewUrl" [src]="imagePreviewUrl" alt="Image Preview" class="img-fluid mt-3">
          </div>
      
        <div class="flex align-items-center gap-3 mb-3">
          <label for="description" class="font-semibold w-6rem">Description</label>
          <textarea id="description" formControlName="description" class="flex-auto"
                    [ngClass]="{
                      'ng-invalidk': bannerForm.get('description')?.invalid && bannerForm.get('description')?.touched,
                      'ng-dirtyk': bannerForm.get('description')?.dirty
                    }"
                    autocomplete="off"></textarea>
          <div *ngIf="bannerForm.get('description')?.invalid && bannerForm.get('description')?.touched" class="text-danger">
            Description is required.
          </div>
        </div>
      
        <div class="flex justify-content-end gap-2">
          <button type="submit" class="btn btn-primary">{{ isEditMode ? 'Update' : 'Save' }}</button>
        </div>
      </form>
      
      
</p-dialog>



<p-table [value]="banners" dataKey="id" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [paginator]="true" [filterDelay]="0" [globalFilterFields]="['title', 'description']">
    <ng-template pTemplate="header">
      <tr>
        <th>Index</th>
        <th pSortableColumn="id">Banner ID <p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="title">Title <p-sortIcon field="title"></p-sortIcon></th>
        <th pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
        <th>Image</th>
        <th>Status</th>
        <th>Action</th> 
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-banner let-i="rowIndex">
      <tr>
        <td>{{ i + 1 }}</td>
        <td>{{ banner.id }}</td>
        <td>{{ banner.title }}</td>
        <td>{{ banner.description }}</td>
        <td><img [src]="banner.image" alt="Banner Image" style="max-height: 100px;"></td>
        <td>
            <p-inputSwitch class="switch" [ngModel]="banner.status === '1'" (onChange)="changeBannerStatus(banner.id, $event.checked)"></p-inputSwitch>
        </td>
        <td>
          <!-- Add action buttons here, e.g., edit or delete -->
          <button class="btn btn-primary" (click)="openEditDialog(banner.id)"><i class="fas fa-edit"></i></button>
          <button class="btn btn-danger" (click)="deleteBanner(banner.id)"><i class="fas fa-trash"></i></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  