<form>
    <div class="container-fluid">
    <div class="row">
    <div class="col">
      <label for="exampleInputEmail1" class="form-label">Name</label>
      <input type="text" class="form-control" id="exampleInputEmail1" >
    </div>
    <div class="col">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="col">
        <label for="companyname" class="form-label">Company Name</label>
        <input type="text" class="form-control" id="companyname">
      </div>
   </div>
   <div class="row mt-4">
    <div class="col">
        <label for="fax" class="form-label">Fax</label>
        <input type="text" class="form-control" id="fax">
    </div>
    <div class="col">
      <label for="websiteurl" class="form-label">Website Url</label>
      <input type="url" class="form-control" id="websiteurl">
    </div>
    <div class="col">
        <label for="phonenumber" class="form-label">Phone Number</label>
        <input type="tel" class="form-control" id="phonenumber">
      </div>
   </div>
   <div class="row mt-4">
    <div class="col">
      <label for="gstnumber" class="form-label">Gst Number</label>
      <input type="text" class="form-control" id="gstnumber" >
    </div>
    <div class="col">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="col">
        <label for="formFile" class="form-label">Logo</label>
        <input class="form-control" type="file" id="formFile">
      </div>
   </div>
   <div class="row mt-4">
    <div class="col">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="col">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="col">
        <label for="formFile" class="form-label">Logo</label>
        <input class="form-control" type="file" id="formFile">
      </div>
   </div>
   <div class="mt-4">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</div>
  </form>