/* styles.css */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~admin-lte/dist/css/adminlte.min.css";
@import "../node_modules/quill/dist/quill.core.css";
@import "../node_modules/quill/dist/quill.snow.css";

.switch .p-inputswitch-slider {
    background-color: red !important;
}
.switch .p-inputswitch-slider:before {
    background-color: white !important;
}
.switch .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background: green !important;
}
section.content {
    height: 115vh;
    overflow: auto;
}
.p-dropdown {
    display: inline-flex;
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
    width: 100% !important;
    user-select: none;
}
.fakeimg {
    height: 200px;
    background: #aaa;
  }

  .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    margin-right: 5px;
    box-shadow: none;
}
.p-datatable .p-datatable-tbody > tr > td {
    text-align: left;
    border: 1px solid #e9ecef;
    border-width: 0 0 1px 0;
    padding: 0.6rem 1rem !important; 
}
.required{
    color: red;
    margin-left: 3px;
}
::placeholder{
    padding-left: 5px !important;
}
.p-dialog .p-dialog-content {
    background: #ffffff;
    color: #495057;
    padding: 2rem 1.5rem 2rem 1.5rem !important;
}
.p-dialog .p-dialog-header {
    border-bottom: 0 none;
    background: #dedede !important;
    color: #000000;
    padding: 1.5rem;
    border-bottom: 2px double !important;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}