
<button class="btn btn-primary" (click)="showDialog()" >
    <i class="fas fa-plus"></i>
   </button>
   <button class="btn btn-danger" (click)="deleteSelectedReviews()" pTooltip="Bulk Delete Company" tooltipPosition="top" >
    <i class="fas fa-trash"></i>
   </button>
<p-table #dt2 [value]="reviews" [paginator]="true" [rows]="10" [loading]="loading" [responsive]="true"  [globalFilterFields]="['company_name', 'comment']"  [(selection)]="selectedReviews" selectionMode="checkbox">
    <ng-template pTemplate="caption">
        <div class="flex ">
            <div class="p-input-icon-right">
                <i class="pi pi-search"></i>
                <input 
                  pInputText 
                  type="text" 
                  (input)="filterGlobal($event)" 
                  placeholder="Search keyword" />
            </div>
            <p-dropdown 
            [options]="statusOptions" 
            [(ngModel)]="selectedStatus" 
            (onChange)="filterReviews()" 
            placeholder="Select Status"
            class="dropdown-width ms-2">
          </p-dropdown>
        </div>
    </ng-template>
  <ng-template pTemplate="header">
    <tr>
        <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th>Index</th>
      <th pSortableColumn="company_name">Company</th>
      <th pSortableColumn="comment">Comment</th>
      <th pSortableColumn="rating">Rating</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-review let-i="rowIndex">
    <tr>
        <td>
            <p-tableCheckbox [value]="review"></p-tableCheckbox>
          </td>
          <td>{{ i + 1 }}</td>
      <td>{{ review.company_name }}</td>
      <td>{{ review.comment }}</td>
      <td>
        <span class="p-column-title">Reviews</span>
        <p-rating 
          [(ngModel)]="review.rating" 
          [readonly]="true" 
          [cancel]="false" class="gold-rating">
        </p-rating>
      </td>
      <td>
        <p-dropdown
    [options]="statusOptions"
    [(ngModel)]="review.status"
    (onChange)="updateStatus(review.id, $event.value)"
    [style]="{'width':'auto'}"
    appendTo="body"
  >
  </p-dropdown>
      </td>
        <td>
            <button class="btn btn-danger" ><i class="fas fa-trash"></i></button>
            <button class="btn btn-success" ><i class="fas fa-eye"></i></button>
            <button class="btn btn-primary" ><i class="fas fa-edit"></i></button>
          </td>
    </tr>
  </ng-template>
   <!-- Loading Indicator -->
   <ng-template pTemplate="emptymessage">
    <tr *ngIf="loading">
      <td colspan="8" class="no-data">
        <div class="no-data-content">
          <p class="no-p">Loading inquiries...</p>
        </div>
      </td>
    </tr>
    <tr *ngIf="!loading">
      <td colspan="8" class="no-data">
        <div class="no-data-content">
          <img src="assets/no-data.jpg" class="no-img" alt="No Data Image">
          <p class="no-p">No inquiries found.</p>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-dialog header="{{ isEditMode ? 'Edit Review' : 'Add New Review' }}" [(visible)]="displayDialog" [modal]="true" [style]="{ width: '50em' }" (onHide)="closeDialog()">
    <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name</label>
        <p-dropdown 
        formControlName="selectedCompany" 
        [options]="companies"
        formControlName="company_id"
        optionLabel="label"
        optionValue="value"
        [(ngModel)]="temp"
        placeholder="Select a Company"
        styleClass="custom-dropdown"
        >
      </p-dropdown>
      </div>
      <div class="form-group">
        <label for="rating">Rating</label>
        <p-rating formControlName="rating"></p-rating>
      </div>
      <div class="form-group">
        <label for="comment">Comment</label>
        <textarea class="form-control" id="comment" formControlName="comment"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">{{ isEditMode ? 'Update' : 'Add' }}</button>
    </form>
  </p-dialog>